@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  position: relative;
  padding-bottom: 54px;
  min-height: 100vh;
  background-color: #f6faff !important;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #393e44;
  padding: 10px 0;
  cursor: default;
}

p {
  color: #393e44;
}

nav {
  z-index: 10;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(75, 135, 224, 0.1);
}
nav div div {
  font-size: 16px;
  color: #393e44;
  display: inline-block;
  margin-left: 10px;
}
nav a {
  padding: 5px 10px;
  transition: all 0.1s;
}
nav a:hover {
  opacity: 0.9;
}
nav a:active {
  opacity: 1;
}
nav img {
  height: 30px;
}
nav button {
  border: none !important;
}

#button {
  color: white;
  background-color: #393e44;
  border: none;
  transition: all 0.1s;
}
#button:hover {
  background-color: #55585c;
}
#button:focus, #button:active:focus {
  box-shadow: 0 6px 10px -3px rgba(57, 62, 68, 0.5);
}
#button:active {
  transform: scale(0.97);
  background-color: #393e44;
}

#red {
  color: white;
  background-color: #dd4343;
  border: none;
  transition: all 0.1s;
}
#red:hover {
  background-color: #dd6262;
}
#red:focus, #red:active:focus {
  box-shadow: 0 6px 10px -3px rgba(221, 67, 67, 0.5);
}
#red:active {
  transform: scale(0.97);
  background-color: #dd4343;
}

#blue {
  color: white;
  background-color: #2a74e1;
  border: none;
  transition: all 0.1s;
}
#blue:hover {
  background-color: #4b87e0;
}
#blue:focus, #blue:active:focus {
  box-shadow: 0 6px 10px -3px rgba(42, 116, 225, 0.5);
}
#blue:active {
  transform: scale(0.97);
  background-color: #2a74e1;
}

#transparent {
  color: #393e44;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  transition: all 0.1s;
}
#transparent:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#transparent:focus, #transparent:active:focus {
  box-shadow: 0 6px 10px -3px rgba(255, 255, 255, 0.5);
}
#transparent:active {
  transform: scale(0.97);
  background-color: rgba(255, 255, 255, 0);
}

.card-list {
  text-decoration: none;
  margin: 15px 0;
}

.card-item {
  color: white;
  background: linear-gradient(to top right, #dd4343, #2a74e1);
  border-radius: 10px;
  padding: 30px 25px;
  font-size: 20px;
  width: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.1s ease-in-out;
}
.card-item:hover {
  transform: translateY(-3px);
  background: linear-gradient(to top right, #dd6262, #2a74e1);
  box-shadow: 0 8px 20px -10px rgba(42, 116, 225, 0.8);
}
.card-item:active {
  transform: translateY(0);
  background: linear-gradient(to top right, #dd6262, #4b87e0);
}

.expiring {
  color: white;
  background: linear-gradient(to top right, #dd4343, #393e44);
  border-radius: 10px;
  padding: 30px 25px;
  font-size: 20px;
  width: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.1s ease-in-out;
}
.expiring:hover {
  transform: translateY(-3px);
  background: linear-gradient(to top right, #dd6262, #393e44);
  box-shadow: 0 8px 20px -10px rgba(57, 62, 68, 0.8);
}
.expiring:active {
  transform: translateY(0);
  background: linear-gradient(to top right, #dd6262, #55585c);
}

.expired {
  color: white;
  background: linear-gradient(to top right, #393e44, #55585c);
  border-radius: 10px;
  padding: 30px 25px;
  font-size: 20px;
  width: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.1s ease-in-out;
}
.expired:hover {
  transform: translateY(-3px);
  background: linear-gradient(to top right, #55585c, #55585c);
  box-shadow: 0 8px 20px -10px rgba(85, 88, 92, 0.8);
}
.expired:active {
  transform: translateY(0);
  background: linear-gradient(to top right, #55585c, #55585c);
}

.appear {
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes appear {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
div aside {
  float: right;
  font-size: medium;
}

section div {
  color: #393e44;
  font-size: 17px;
  padding: 5px 0;
  cursor: default;
}

.content {
  margin-top: 25px;
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  color: #55585c;
  padding: 0.7rem 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(75, 135, 224, 0.1);
  cursor: default;
  transition: all 0.5s;
}
footer:hover {
  letter-spacing: 0.5px;
}

.mobile {
  display: none;
}

@media (orientation: portrait) and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
  }
  .pay img {
    width: 4rem;
    -webkit-animation: shake 4s infinite;
            animation: shake 4s infinite;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  .cardPay {
    -webkit-animation: float 4s infinite;
            animation: float 4s infinite;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    width: 92vw;
    height: 50vw;
    font-size: 6.8vw;
    box-shadow: 0 10px 20px -10px #dd4343;
    pointer-events: none;
  }
  @-webkit-keyframes float {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-1.5rem) rotate(2deg);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }
  @keyframes float {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-1.5rem) rotate(2deg);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }
  @-webkit-keyframes shake {
    40% {
      transform: rotate(0);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(10deg);
    }
  }
  @keyframes shake {
    40% {
      transform: rotate(0);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(-10deg);
    }
    80% {
      transform: rotate(10deg);
    }
  }
}/*# sourceMappingURL=index.css.map */